// Place all the styles related to the navbar in application.html.erb
// They will automatically be compilled and included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#burger {
	position: absolute;
	right: 20px;
	top: 25px;
}

#burger img {
	height: 40px;
	width: auto;
}

#mobile {
	display:none;
}

.logo {
	background: none;
}

.imglogo {
	height: 40px;
	width: auto;
	padding-left: 20px;
  top: 10px;
  position: relative;
}

.title {
	padding-left: 0px;
	padding-right: 10px;
	font-size: 30px;
}

/*nav {
	background: white;
	
}

nav a {
	
	border-radius: 8px;
	text-decoration: none;
	color: #0FA3B1;
	font-size: 1.25em;
}

nav a:hover, nav a:active {
	color: #1affc6;
	transition: .5s;
}
//when screen is smaller than 1040 pixels
@media only screen and (max-width: 1040px) {
	nav a {
	}
	.notice {
		margin-right: 1%;
		margin-left: 1%;
	}
	.alert {
		margin-right: 1%;
		margin-left: 1%;
	}
	.title {
		font-size: 50px;
		.img {
			height: 50px;
		}
	}
}*/

/*@media only screen and (max-width: 1040px) {
	.title {
		font-size: 40px;
	}
	.img {
		height: 40px;
	}
}*/

// Navigation Variables
$content-width: 1000px;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;

// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  //overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// Logo and branding
.brand {
  position: absolute;
  padding-left: 0px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

// Container with no padding for navbar
.nav-container {
  //max-width: $content-width;
  margin: 0 auto;
}

// Navigation 
nav {	
  float: right;
  padding-top:0px!important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding-left:5px;
        padding-right:5px;
        border-radius:0px!important;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}

// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */

// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
/*  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }*/
}

// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}

#yieldContainer {
  padding-left: 50px;
  padding-right: 50px;
}